/*header
==============*/

.header {
    grid-area: a;
    background-color: rgb(233, 233, 241);
    width: 100%;
    /*w100+tab*/
    height: 100px;

    position: sticky;
    /* Приклеиваем заголовок */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    /*z1000+tab*/
    padding: 0 10px;

}

.header__inner {
    width: 100%;
    /*w100+tab*/
    height: 100%;

    display: flex;
    justify-content: space-between;
    /*между элементами бокса расстояние*/
    align-items: center;
    /*по центру по высоте*/
    /*отступы: л.п/в.н*/
}

.nav {
    padding-right: 30px;
    display: flex;
    /*d+tab БЕЗ ПРОМЕЖУТКОВ*/
    flex-wrap: wrap;
    gap: 40px;
    font-size: 18px;
    font-weight: 700;
    /*tw700+tab=100 — тонкое начертание; · 200 — сверхсветлое; · 300 — светлое; · 400 — нормальное (аналогично normal); · 500 — среднее; · 600 — полужирное; · 700 —жирное*/
    text-transform: uppercase;
    /*ttu+tab все буквы большие*/
}

.item {
    color: #515a90;
    text-decoration: none;
    /*ttn+tab подчеркивание отсутствует*/
    opacity: .75;
    /*прозрачность*/
    text-decoration: none;

    transition: opacity .5s linear;
    /*плавный переход*/
    transition: color 1s linear;
    /*плавный переход*/
}

.item:hover {
    /*при наведении*/
    opacity: 1;
    /*нижнее подчеркивание*/
}

.active {
    color: #f15624;
    text-decoration: none;
    opacity: 1;

}

.header__burger {
    display: none;
}

@media screen and (max-width: 768px) {
    .header__burger {
        display: block;
        position: relative;
        top: -5px;
        right: 40px;
        width: 30px;
        height: 30px;
        z-index: 10000;
    }

    .header__burger.active span {
        transform: rotate(90deg);
        top: 20px;
        right: 10;
        background-color: #fff;
    }

    .header__burger.active:before {
        transform: rotate(90deg);
        top: 20px;
        right: 10px;
        background-color: #fff;
    }

    .header__burger.active:after {
        transform: rotate(90deg);
        top: 20px;
        left: -3px;
        background-color: #fff;
    }


    .header__burger span {
        margin-right: 13px;
        background-color: #545454;
        position: absolute;
        width: 100%;
        height: 2px;
        right: 0;
        top: 10px;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        margin-right: 13px;
        background-color: #545454;
        position: absolute;
        width: 100%;
        height: 2px;
        right: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before {
        top: 20px;
    }

    .header__burger:after {
        top: 30px;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 320px;
        height: 100%;
        background-color: #292929;
        transition: all 0.3s ease 0s;
        right: 0;
    }

    .item {
        margin: 0;
        font-size: 15px;
        line-height: 24px;
        color: #545454;
        text-decoration: none;
    }

    .item:hover {
        color: #292929;
    }

    .item.active {
        border-bottom: 3px solid black;
    }

    .item:active {
        border-bottom: 3px solid black;
    }


}

@media screen and (max-width: 1000px) {
    .header {
        height: 90px;
        padding: 0 9px;

    }

    .nav {
        padding-right: 25px;
        gap: 30px;
        font-size: 17px;
    }
}

@media screen and (max-width: 870px) {
    .header {
        height: 80px;
        padding: 0 5px;

    }

    .nav {
        padding-right: 5px;
        gap: 15px;
        font-size: 15px;
    }
}