.intro {
    width: 100%;
    max-height: 100%;
    background: #dadee2/*запасной фон!!!*/ url("../img/maxresdefault.jpg") no-repeat center / cover ;/* /
        cover всю высоту и ширину блока*/
}



.intro__inner {
    padding: 2% 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}


.intro__titles {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    line-height: 1.1; 
    text-align: center;
    color: #f15624;
    font-weight: 700;
    text-transform: uppercase;

}


.intro__subtitles {
    width: 70%;
    text-align: center;
    
    font-size: 28px;
    color: #000000;
    line-height: 1.5;
    font-weight: 700;
}

.icon {
    width: 85%;
    font-size: 22px;
    color: #515a90;
    font-weight: 700;
    display: flex;
    justify-content: space-between;   /*между элементами бокса расстояние*/
    align-items: center;
    gap: 8%;
    background-color: rgb(221, 221, 243);
    opacity: 0.7;
}
.icon:hover {
    opacity: 1;
}
/* .icon__inner {

} */
.icon__logo {
width: 80px;
height: auto;
}
@media screen and (max-width: 1000px) {
    .intro__titles {
        font-size: 30px;}
        .intro__subtitles {
            width: 80%;
            font-size: 24px;
            line-height: 1.3;
        }
        .icon {
            width: 90%;
            font-size: 20px;            
            gap: 7%;
        }
        .icon__logo {
            width: 70px;
            height: auto;
            }
}